* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.invisible {
  display: none !important;
}

#설정창 {
  position:absolute;
  transform: translate(-50%,-50%);
  z-index: 5;
  background-color: rgb(200,200,200);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 50%;
  left: 50%;
  padding: 3vw;
  width: 30vw;
  height: 30vh;
  align-items: center;
  justify-content: center;
}

.설정항목 {
  text-align: center;
  font-size: 1.2rem;
}

.설정내용 {
  text-align: left;
  height: 1.2rem;
}

.설정내용 input {
  height: 1.2rem;
}


html {
  height: 100dvh;
  width: 100vw;
}

body{
 -ms-overflow-style: none;
  overflow-y: hidden;
  
 }

#메인페이지 {
  display:flex;
}
#메인페이지::-webkit-scrollbar {
  display: none;
}


.nation {
  width: 75%;
  height: 75%;
  cursor: pointer;
  z-index: -1;
}

.nation-name {
  font-size: 0.6rem;
  color: #9e9e9e;
  font-weight: 900;
}

.nation-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


#nation-select {
  background: #000000;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  padding: 1%;
  max-width: 20%;
  text-align: center;
  flex: 0 0 20%;
}

#class-banner {
  margin-left: 2%; 
  padding-left: 3%; 
  padding-right: 2%; 
  flex: 1 0 0;
  border: 1px solid white; 
  border-radius: 10px; 
  float: left;
  height: 0em;
  scale: 1, 0;
  overflow-y: scroll;
  transition: 1s

}

.nation-box {
  border: 3px solid #000000;
  border-radius: 10px;
}

.banner-name {
  color: white;
  font-size: 2em;
  font-weight: 900;

}

.배너 {
  transition : height 3s;
  color: white; 
  text-align: left;
  display: none;
  scale: 1, 0;
  transition-property: transform, display;
  transition-duration: 0.25s;
  transition-behavior: allow-discrete;
}

.배너제목 {
  cursor: pointer;
  padding: 15px;
}
.디테일 {
  width:100%; 
  height: 10%;
  display: flex;
  overflow-y: hidden;
  scale: 1, 0;
  transition-property: transform, display;
  transition-duration: 0.25s;
  transition-behavior: allow-discrete;
}

.nation-box:focus {
  scale: 1.13;
  transition: transform 0.7s
}

.디테일이미지 {
  display: flex;
  width: 50%; 
  border-right: 1px solid white; 
  text-align: center; 
  justify-content: center;
  height: 13rem;
}

.디테일설명 {
  width: 50%; 
  padding-left: 2rem; 
  height: 16rem; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.디테일줄글 {
  font-size: 1.5rem; 
  font-weight: 700; 
  font-family: 'Noto Sans KR', times New Roman;
}

.디테일작은줄글 {
  font-size: 0.75rem; 
  font-weight: 700; 
  font-family: 'Noto Sans KR', times New Roman
}

.진입하기 {
  cursor: pointer;
  background-color: #7d4545;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  border: 0px;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 0.3rem;
  text-align: center;
}


#스토리::-webkit-scrollbar {
  width: 10px;
}
#스토리::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
#스토리::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

#class-banner::-webkit-scrollbar {
  width: 10px;
}
#class-banner::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
#class-banner::-webkit-scrollbar-track {
  background-color: #454545;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

#header {
  width: 95vw;
  height: 77vh;
  display: flex;
  flex-direction: row;
  padding-bottom: 1%;

}

#본문선 {
  border: 1px solid white;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#스토리창 {
  flex:10 0px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  min-height: 0;
}

#스토리 {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow-y: auto;
  overflow-x: hidden;
}

#차례 {
  flex:1 0px;
  flex-direction: column;
  display: flex;
  min-height: 0;
  -ms-overflow-style: none;
}

#차례 ::-webkit-scrollbar {
  display: none;
}

#차례제목 {
  background-color: #292929;
  padding-bottom: 1em;
  flex:1 0px;
  flex-direction: column;
  display: flex;
  overflow-y: auto;
  overflow-x: block;
}

#제목 {
  flex:0 0 10vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.차례버튼 {
  border-radius: 5px;
  background-color: #545454;
  cursor: pointer;
}

.버튼 {
  flex:1 1 0px;
  display: flex;
  flex-direction: column;
  padding: 2px;
  border-radius: 5px;

}

.선택지 {
  flex:1 1 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  margin: 3px;
  border-radius: 5px;

}

.선택지버튼 {
  display: block;
  width: 50vw;
  border-radius: 8px;
  padding: 0.5em;
  cursor: pointer;
}

.한줄 {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.캐릭터 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 1.6%;
  height: 6vh;
  background-color: #292929;
  margin-left: 9%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 10em;
  padding: 1em;
}

.이름칸 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 7%;
  background-color: #292929;
  margin-right: 4%;
  text-align: left;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 1em;
  padding: 1em;
}


.대사칸 {
  flex:10;
  margin-left: 1em;
  padding: 1em;
  margin-right: 20%;
  align-items: center;
  background-color: #292929;
  border-radius: 1em;
  display: flex;

}

.이름 {
  color: #8a8a8a;
  font-size: 1em;
}

.대사 {
  color: #a3a3a3;
  font-size: 1em
}

.스티커 {
  color: #ccaff8;
  font-size: 1em
}
.이미지 {
  width: 100%;
  text-align: center;
  padding-right: 20%;
  display: block;
}

.Subtitle {
  width: 100%;
  display: block;
  color: #7d4545;
  font-size: 1em;
  font-weight: 700;
}

.컷신 {
  width: 100%;
  text-align: center;
  padding-right: 20%;
  display: block;
}

video::-webkit-media-controls-timeline {
  display: none !important;
}

/* 현재 진행 시간 */
video::-webkit-media-controls-current-time-display{
  display: none !important;
}

/* 전체 시간 */
video::-webkit-media-controls-time-remaining-display {
  display: none !important;
}


.음악시작 {
  height: 1vh;
}
.음악정지 {
  height: 1vh;
}
